<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>传入数据</title>
</head>
<body>
    <form action="" method="post">
        <table>
            <tbody>
            <tr>
                <td>账号编号:</td>
                <td><input type="text" name="zhbh"></td>
            </tr>
            <tr>
                <td>石头数量:</td>
                <td><input type="text" name="stsl"></td>
            </tr>
            <tr>
                <td>宠物编号:</td>
                <td><input type="text" name="cwbh"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="提交"></td>
            </tr>
            </tbody>
        </table>
    </form>
</body>
</html>