<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智龙初始查询系统</title>
</head>
<body>
<nav>
    <ul class="nav">
        <li><a href="/">首页</a></li>
    </ul>

</nav>
    <form action="" method="post">
        <table>
            <tbody>
            <tr>
                <td>查询编号:</td>
                <td><input type="text" name="cxbh"></td>
            </tr>
            <tr>
                <td>宠物编号:</td>
                <td><input type="text" name="cwbh"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="查询"></td>
            </tr>
            </tbody>
        </table>
    </form>
</body>
</html>